
@font-face {
    font-family: "Figtree";
    src: url(/blog-preview-card-main/assets/fonts/Figtree-VariableFont_wght.ttf) format("truetype"),
    url(/blog-preview-card-main/assets/fonts/Figtree-Italic-VariableFont_wght.ttf) format("truetype"),
    url(/blog-preview-card-main/assets/fonts/static/Figtree-ExtraBold.ttf) format("truetype"),
    url(/blog-preview-card-main/assets/fonts/static/Figtree-Medium.ttf) format("truetype");
}


*,::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{

    /* Colors */
    --Yellow: hsl(47, 88%, 63%);

    --White: hsl(0, 0%, 100%);

    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);

    /* Typography */

    --font-size-sm: 0.875rem; /* 14px */
    --font-size-md: 1rem; /* 16px */
    --font-size-base: 1.125rem; /* 18px */
    --font-size-xl: 1.25rem; /* 20px */
    --font-size-lg: 1.5rem; /* 24px */

    --font-weight-500: 500;
    --font-weight-800: 800;

    /* Spacing */

    --space-50:4px;
    --space-100:8px;
    --space-150:12px;
    --space-300:24px;

}

body{
    font-family: "Figtree", sans-serif;
    background-color: var(--Yellow);
    position: relative;
    height: 100vh;
}



.card-container{

    width: 22rem;
    background-color: var(--White);
    padding: var(--space-300);
    border: 1px solid var(--Gray-950);
    border-radius: 1.25rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    box-shadow: 0.5rem 0.5rem rgba(0,0,0,1);
}

.card-content{
    margin-bottom: var(--space-300);
}

.blog-image{
    width: 100%;
    border-radius: 1.25rem;
    margin-bottom: var(--space-300);
    object-fit: fill;
}


.category{
    display: inline-block;
    background-color: var(--Yellow);
    border-radius: 4px;
    padding: var(--space-50) var(--space-150);

    font-weight: var(--font-weight-800);
    font-size: var(--font-size-sm);
    line-height: 1.5;
    color: var(--Gray-950);
    margin-bottom: var(--space-150);
}

.publish-date{
    margin-bottom: var(--space-150);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-500);
    line-height: 1.5;
}

.title{
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-800);
    line-height: 1.5;
    margin-bottom: var(--space-150);
    color: var(--Gray-950);
}

.title:hover{
    color: var(--Yellow);
    cursor: pointer;
}

.description{
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-500);
    line-height: 1.5;
    color: var(--Gray-500);
}


.userpic{
    width: 2rem;
    display: inline-block;
    vertical-align: middle;
}

.authorname{
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-800);
    line-height: 1.5;
    color: var(--Gray-950);
    margin-left: var(--space-150);
}

