
@font-face {
    font-family: "Figtree";
    src: url(/blog-preview-card-main/assets/fonts/Figtree-VariableFont_wght.ttf) format("truetype"),
    url(/blog-preview-card-main/assets/fonts/Figtree-Italic-VariableFont_wght.ttf) format("truetype"),
    url(/blog-preview-card-main/assets/fonts/static/Figtree-ExtraBold.ttf) format("truetype"),
    url(/blog-preview-card-main/assets/fonts/static/Figtree-Medium.ttf) format("truetype");
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{

    /* Colors */
    --Yellow: hsl(47, 88%, 63%);

    --White: hsl(0, 0%, 100%);

    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);

    /* Typography */

    --font-size:.9375rem; /* 15px */

    --font-weight-500: 500;
    --font-weight-800: 800;
}

/* Global Styles */
body{
    font-family: "Figtree", sans-serif;
    font-size: var(--font-size);
    background-color: var(--Yellow);
    color: var(--Gray-500);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

img{
    max-width: 100%;
    display: block;
}

h2{
    font-size: 1.25rem;
    color: var(--Gray-950);
    font-weight: var(--font-weight-800);
    margin-bottom: 1rem;
}


p{
    margin-bottom: 1rem;
    line-height: 1.5;
}

/* Card Styles */
.card-container{
    background-color: var(--White);
    max-width: 22rem;
    padding: 1.25rem;
    margin:0 1rem;
    border-radius: 2rem;
    border: 2px solid var(--Gray-950);

    box-shadow: .5rem .5rem  var(--Gray-950);
}

.card-container:hover {
    box-shadow: 0.75rem 0.75rem var(--Gray-950);
    transition: box-shadow 0.3s ease;
}

.card-img{
    border-radius: 2rem;
    margin-bottom: 1rem;
}

.card-tag{
    display: inline-block;
    background-color: var(--Yellow);
    color: var(--Gray-950);
    font-weight: var(--font-weight-800);
    padding: 0.5rem 1rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.card-date{
    color: var(--Gray-950);
    font-weight: var(--font-weight-500);
    margin-bottom: 1rem;
}

.card-title:hover{
    color: var(--Yellow);
    cursor: pointer;
}

.card-avatar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.avatar-img{
    width: 3rem;
}

.author-name{
    font-weight: var(--font-weight-800);
    color: var(--Gray-950);
}

